<section class="py-10 w-[70%] mx-auto">
  <app-title-page>
    <div class="small-title">About us</div>
    <div class="title">Our Story</div>
    <div class="desc-title">
      A journey for making successful luxury restaurant <br>
      with the best services
    </div>
  </app-title-page>

  <div class="flex flex-wrap justify-between gap-8 mt-10">
    <!-- الصور -->
    <div class="flex gap-5">
      <div class="flex flex-col gap-5">
        <img src="/img-outStory-1.jpg" alt="Chef 1"
             class="w-[250px] h-[200px] object-cover rounded-lg shadow-lg" />
        <img src="/img-ourStory-2.jpg" alt="Chef 2"
             class="w-[250px] h-[200px] object-cover rounded-lg shadow-lg" />
      </div>
      <div>
        <img src="/img-ourStory-3.jpg" alt="Chef 3"
             class="w-[300px] h-[410px] object-cover rounded-lg shadow-lg" />
      </div>
    </div>

    <!-- النص -->
    <div class="max-w-md space-y-6 text-justify">
      <p class="text-gray-300 leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat urna id leo euismod rhoncus.
        Aliquam erat volutpat. Nulla id aliquam neque, at dignissim quam.
      </p>
      <p class="text-gray-400 leading-relaxed">
        Nam sodales ullamcorper aliquet. Phasellus ut pretium libero, vitae imperdiet purus. Sed sod tincidunt velit.
        Aliquam vitae ipsum molestie, vehicula nisi quis, finibus leo.
      </p>
      <a routerLink="/about">
        <button
          class="border border-yellow-500 text-yellow-500 px-6 py-2 hover:bg-yellow-500 hover:text-black transition duration-300">
          MORE ABOUT US
        </button>
      </a>
    </div>
  </div>
</section>
