<footer class="bg-[#1e1e1e]		 text-gray-400 pt-10 pb-6 ">
  <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-10">

    <!-- Logo + Description -->
    <div>
      <figure class="flex space-x-3">
        <img src="/logo.jpeg" alt="logo" class="h-7">
        <figcaption>
          <h2 class="text-2xl font-bold text-white mb-2">Zingo</h2>
        </figcaption>
      </figure>
      <p class="text-sm">
        Bold sushi, unforgettable flavors. Dive into a crafted Japanese dining experience.
      </p>
    </div>

    <!-- Links -->
    <div>
      <h3 class="text-xl font-semibold text-white mb-3">Quick Links</h3>
      <ul class="space-y-2">
        <li><a routerLink="/home" class="hover:text-orange-500 transition cursor-pointer">Home</a></li>
        <li><a routerLink="/menu" class="hover:text-orange-500 transition cursor-pointer">Menu</a></li>
        <li><a routerLink="/about" class="hover:text-orange-500 transition cursor-pointer">About Us</a></li>
        <li><a routerLink="/contact" class="hover:text-orange-500 transition cursor-pointer">Contact</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div>
      <h3 class="text-xl font-semibold text-white mb-3">Contact</h3>
      <p>Email: <a href="mailto:info@zingo.com" class="hover:text-orange-500">info&commat;zingo.com</a></p>
      <p>Phone: <a href="tel:+201234567890" class="hover:text-orange-500">+20 123 456 7890</a></p>
      <div class="flex space-x-4 mt-4">
        <a class="hover:text-orange-500"><i class="fab fa-facebook-f"></i></a>
        <a class="hover:text-orange-500"><i class="fab fa-instagram"></i></a>
        <a class="hover:text-orange-500"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

  </div>

  <!-- Copyright -->
  <div class="text-center text-sm mt-10 border-t border-gray-700 pt-4">
    &copy; 2025 Zingo. All rights reserved.
  </div>
</footer>
